*.class
.DS_Store

# Mobile Tools for Java
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
target
.settings

# Idea
.idea
*.iml

client/shell/spring-shell.log
client/shell/src/test/java/org/epcc/ps/client/shell/AbstractClientUtilTest.java
client/shell/src/test/java/org/epcc/ps/client/shell/AbstractTest.java
